bin.v2/
stage/
tools/build/v2/engine/bin.linuxx86_64/
tools/build/v2/engine/bootstrap/
b2
bjam
bootstrap.log
project-config.jam

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
